<div  class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" >

        <!--Screen Name Column-->
        <ng-container matColumnDef="mutualName">
            <th mat-header-cell *matHeaderCellDef>Screen Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.mutualName}}
            </td>
        </ng-container>

    <!--Unfollow Button Column--> 
        <ng-container matColumnDef="unfollow">
            <th mat-header-cell *matHeaderCellDef>Unfollow</th>
            <td mat-cell *matCellDef="let element">
                <app-unfollow-button [screenName]="element.mutualName"></app-unfollow-button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: this.columnsToDisplay;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" [length]="this.dataSource.length" [pageSize]="10"
    showFirstLastButtons></mat-paginator>
</div>