<div  class="mat-elevation-z8">
    <table mat-table [dataSource]="data" >

        <!--Name Column-->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <!--Screen name Column-->
        <ng-container matColumnDef="screen_name">
            <th mat-header-cell *matHeaderCellDef>Screen name</th>
            <td mat-cell *matCellDef="let element">
                <a href="https://twitter.com/{{element.screen_name}}">{{element.screen_name}}</a>
            </td>
        </ng-container>

        <!--Description Column-->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
                {{element.description}}
            </td>
        </ng-container>

        <!--Unfollow Button Column--> 
        <ng-container matColumnDef="unfollow">
            <th mat-header-cell *matHeaderCellDef>Unfollow</th>
            <td mat-cell *matCellDef="let element" >
               <app-unfollow-button [screenName]="element.screen_name"></app-unfollow-button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: this.columnsToDisplay;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" [pageSize]="10"
    showFirstLastButtons></mat-paginator>
</div>